<body style="
  background-image: url('../../../assets/img/background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: auto;
  ">
<div style="
   background-image: url('../../../assets/img/imgbackgrnd.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vw;
  width: 100%;">


  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid" style="margin-top: 5%;background: transparent">
      <img class="logo" style="margin-left: 5%" src="../../../assets/img/logo.png" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-5">
          <li class="nav-item">
            <a class="nav-link active aclasss" aria-current="page" href="#"
               style="  font-family: 'Fredoka One', cursive;font-size: 20px">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active aclasss" aria-current="page" href="#"
               style="  font-family: 'Fredoka One', cursive;font-size: 20px">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active aclasss" aria-current="page" href="#"
               style="  font-family: 'Fredoka One', cursive;font-size: 20px">Tours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active aclasss" aria-current="page" href="#"
               style="  font-family: 'Fredoka One', cursive;font-size: 20px">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active aclasss" aria-current="page" href="#"
               style="  font-family: 'Fredoka One', cursive;font-size: 20px">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="carousel caros" data-flickity='{ "autoPlay": 5000 }' style="margin-left: 25%">
    <div class="carousel-cell" style="background: transparent;color: #1a1918">
    </div>
    <div class="carousel-cell" style="background: transparent"></div>
    <div class="carousel-cell" style="background: transparent"></div>
    <div class="carousel-cell" style="background: transparent"></div>
    <div class="carousel-cell" style="background: transparent"></div>
  </div>


</div>
<div>
  <img class="img-fluid line" src="../../../assets/img/line.png" alt="">
</div>
<div class="section2">

  <div class="div2"
       style="display: flex;flex-direction: row;align-items: center;justify-content: center;  margin-bottom: 5%">
    <h3 class="tittle1">THE MOUNTAINS ARE</h3>
    <h3 class="tittle2" style="">Waiting For You</h3>
  </div>
  <div class="col-12 row" style="justify-content: space-around;margin: 0">

    <div class="col-12 col-sm-10 col-md-6 col-xl-6 div3" style=" "
    >
      <img style="" src="../../../assets/icon/icnplay.png" alt="">
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-xl-4 row" style="justify-content: center;align-items: center;padding: 0">
      <div class="col-12" style="">
        <h2 class="tittle3">Maoutain Survival Tutorial</h2>
      </div>
      <div class="div4">
        <div class="col-8 col-sm-6 col-md-10 col-xl-6 "
             style="flex-direction: row;display: flex;justify-content: space-around">
          <img style="width: 15px;height: 15px" src="../../../assets/icon/Ellipse.png" alt="...">
          <img style="width: 15px;height: 15px" src="../../../assets/icon/Ellipse.png" alt="...">
          <img style="width: 15px;height: 15px" src="../../../assets/icon/Ellipse.png" alt="...">
          <img style="width: 15px;height: 15px" src="../../../assets/icon/Ellipse.png" alt="...">
          <img style="width: 15px;height: 15px" src="../../../assets/icon/arrow.png" alt="...">
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-10 col-md-6 col-xl-6">
      <p class="paragrapgh1" style="text-align: center"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at
        consequuntur ea ex fugiat illum molestias
        nesciunt nostrum possimus provident, quidem quod repellendus soluta veniam, veritatis! Dolores incidunt
        saepe tempora.</p>
    </div>
  </div>


</div>

<div class="section4">
  <div style="justify-content:center;align-items:center;display: flex">
    <div class="divtittle col-12 col-sm-12 col-md-8 col-xl-8" style=";margin-top: 5%">
      <div style="flex-direction: row;display: flex;justify-content: space-around;align-items: center;width: 80%">
        <img class="icnquote" style="" src="../../../assets/icon/QuoteR.png" alt="">
        <h2 class="txtwelcom">TESTIMONIES</h2>
      </div>
      <div style="margin-top: 5%;justify-content: space-around">
        <p class="txtparagraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at consequuntur ea ex fugiat illum molestias
          nesciunt nostrum possimus provident, quidem quod repellendus soluta veniam, veritatis! Dolores incidunt
          saepe tempora.
        </p>
        <img class="icnquote2" src="../../../assets/icon/Quote.png"
             alt="">
      </div>
    </div>

  </div>
</div>

<div class="section5">
  <div style="justify-content:center;align-items:center;display: flex">
    <div class="divtittle col-12 col-sm-12 col-md-8 col-xl-8" style="margin-top: 8%">
      <div style="align-items: center;justify-content: center;display: flex">
        <div class="col-12" style="flex-direction: row;display: flex;justify-content: center">
          <h2 class="txtwelcom2">CHOOSE</h2>
          <h2 class="txtwelcom1">Your Tour</h2>
        </div>
      </div>
      <div style="margin-top: 5%;justify-content: space-around;margin-bottom: 10%">
        <p class="txtparagraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at consequuntur ea ex fugiat illum molestias
          nesciunt nostrum possimus provident, quidem quod repellendus soluta veniam, veritatis! Dolores incidunt
          saepe tempora.
        </p>
      </div>
    </div>

  </div>
</div>
<div class="section6">
  <div class="col-12 row" style="justify-content: space-around;margin: 0">
    <div style="" class="col-12 col-sm-10 col-md-5 col-xl-4">
      <div class="card" style="box-shadow: -1px 2px 9px 0px rgba(0,0,0,0.74);margin-bottom: 5%">
        <img style="margin-bottom: 5%" src="../../../assets/img/img7.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 style="text-align: center;margin-bottom: 5%;font-family: 'Soleto-Bold', cursive ;">Lake in the
            Mountain</h2>
          <p class="card-text txtparagraph3" style="text-align: center;margin-bottom: 5%">Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit. A at consequuntur ea ex fugiat illum molestias
            nesciunt nostrum possimus provident, quidem quod repellendus soluta veniam, veritatis! Dolores incidunt
            saepe tempora.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-10 col-md-5 col-xl-4">
      <div class="card" style="box-shadow: -1px 2px 9px 0px rgba(0,0,0,0.74);margin-bottom: 5%">
        <img style="margin-bottom: 5%" src="../../../assets/img/img6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 style="text-align: center;margin-bottom: 5%;font-family: 'Soleto-Bold', cursive ;">Lake in the Forest</h2>
          <p class="card-text txtparagraph3" style="text-align: center;margin-bottom: 5%">Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit. A at consequuntur ea ex fugiat illum molestias
            nesciunt nostrum possimus provident, quidem quod repellendus soluta veniam, veritatis! Dolores incidunt
            saepe tempora.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 row" style="justify-content: space-around;margin: 0">
    <div style="margin-bottom: 5%" class="col-12 col-sm-10 col-md-5 col-xl-4 mt-5">
      <div class="card" style="box-shadow: -1px 2px 9px 0px rgba(0,0,0,0.74);margin-bottom: 5%">
        <img style="margin-bottom: 5%" src="../../../assets/img/img5.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 style="text-align: center;margin-bottom: 5%;font-family: 'Soleto-Bold', cursive ;">Snowy mountain</h2>
          <p class="card-text txtparagraph3" style="text-align: center;margin-bottom: 5%">Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit. A at consequuntur ea ex fugiat illum molestias
            nesciunt nostrum possimus provident, quidem quod repellendus soluta veniam, veritatis! Dolores incidunt
            saepe tempora.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-10 col-md-5 col-xl-4 mt-5">
      <div class="card" style="box-shadow: -1px 2px 9px 0px rgba(0,0,0,0.74);margin-bottom: 5%">
        <img style="margin-bottom: 5%" src="../../../assets/img/img2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 style="text-align: center;margin-bottom: 5%;font-family: 'Soleto-Bold', cursive ;">Group hiking</h2>
          <p class="card-text txtparagraph3" style="text-align: center;margin-bottom: 5%">Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit. A at consequuntur ea ex fugiat illum molestias
            nesciunt nostrum possimus provident, quidem quod repellendus soluta veniam, veritatis! Dolores incidunt
            saepe tempora.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--carasoul-->

<div class="container" style="display: flex;justify-content: center;margin-bottom: 5%">
  <div id="carouselExampleControls" class="carousel vert slide" data-ride="carousel" data-interval="900">
    <ol class="carousel-indicators " id="myCarousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div>

          <div class="row col-12" style="display: flex;height: auto">
            <div class="col-4" style="justify-content: center;display: flex;align-items: center">
              <h1 class="txtstore" style=" transform: rotate(-90deg);">S T O R E</h1>
            </div>
            <div class="col-8">
              <div class="col-10 col-sm-10 col-md-8 col-xl-8 " style="background: transparent;margin-bottom: 5%">
                <img class="d-block mx-auto img-fluid" src="../../../assets/img/img4.png" alt="alt">
              </div>
              <div class="col-10 col-sm-10 col-md-8 col-xl-8" style="background: transparent">
                <img class="d-block mx-auto img-fluid" src="../../../assets/img/img3.png" alt="alt">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div>

          <div class="row col-12" style="display: flex;height: auto">
            <div class="col-4" style="justify-content: center;display: flex;align-items: center">
              <h1 class="txtstore" style=" transform: rotate(-90deg);">S T O R E</h1>
            </div>
            <div class="col-8">
              <div class="col-10 col-sm-10 col-md-8 col-xl-8 " style="background: transparent;margin-bottom: 5%">
                <img class="d-block mx-auto img-fluid" src="../../../assets/img/img4.png" alt="alt">
              </div>
              <div class="col-10 col-sm-10 col-md-8 col-xl-8" style="background: transparent">
                <img class="d-block mx-auto img-fluid" src="../../../assets/img/img3.png" alt="alt">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div>

          <div class="row col-12" style="display: flex;height: auto">
            <div class="col-4" style="justify-content: center;display: flex;align-items: center">
              <h1 class="txtstore" style=" transform: rotate(-90deg);">S T O R E</h1>
            </div>
            <div class="col-8">
              <div class="col-10 col-sm-10 col-md-8 col-xl-8 " style="background: transparent;margin-bottom: 5%">
                <img class="d-block mx-auto img-fluid" src="../../../assets/img/img4.png" alt="alt">
              </div>
              <div class="col-10 col-sm-10 col-md-8 col-xl-8" style="background: transparent">
                <img class="d-block mx-auto img-fluid" src="../../../assets/img/img3.png" alt="alt">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--footer-->

<div class="section8">
  <div style="justify-content:center;align-items:center;display: flex">
    <div class="divtittle col-12 col-sm-12 col-md-8 col-xl-8">
      <div style="align-items: center;justify-content: center;display: flex">
        <div class="col-12" style="flex-direction: row;display: flex;justify-content: center">
          <h2 class="txtwelcom">ABOUT US</h2>
        </div>
      </div>
      <div style="margin-top: 5%;justify-content: space-around">
        <p class="txtparagraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at consequuntur ea ex fugiat illum molestias
          nesciunt nostrum possimus provident, quidem quod repellendus soluta veniam, veritatis! Dolores incidunt
          saepe tempora.
        </p>
      </div>

      <div style="justify-content: center;display: flex;margin-bottom: 15%">
        <div class="col-8 col-sm-8 col-md-5 col-xl-4 mt-4"
             style="flex-direction: row;display: flex;justify-content: space-around">
          <img style="width: 35px;height: 35px" src="../../../assets/icon/Facebook.png" alt="...">
          <img style="width: 35px;height: 35px" src="../../../assets/icon/Instagram.png" alt="...">
          <img style="width: 35px;height: 35px" src="../../../assets/icon/Whatsapp.png" alt="...">
          <img style="width: 35px;height: 35px" src="../../../assets/icon/Tumblr.png" alt="...">
        </div>
      </div>
    </div>

  </div>
</div>


</body>
