<div style="position: fixed;width: 100%;z-index: 20">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0;">
    <div class="container-fluid" style="background: #333">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content: space-evenly;height: 50px">
        <div>
          <h3 class="txtheader">H O M E</h3>
        </div>
        <div>
          <h3 class="txtheader">R E S U M E</h3>
        </div>
        <div>
          <h3 class="txtheader">A B O U T</h3>
        </div>
        <div>
          <h3 class="txtheader">S K I L L S</h3>
        </div>
        <div>
          <h3 class="txtheader">W O R K</h3>
        </div>
        <div>
          <h3 class="txtheader">C O N T A C T</h3>
        </div>
      </div>
    </div>
  </nav>
</div>
<div style="background: #262626">
  <div style="align-items: center;justify-content: center;display: flex">
    <h3 class="mt-5" style="font-size: 28px;color: white;;font-family: 'Open Sans', sans-serif">My</h3>
    <h2 class="mt-5 ml-2" style="font-size: 28px;font-weight: bold;margin-left: 1%;color: white">Resume</h2>
  </div>
  <div class="row" style="justify-content: space-evenly;display: flex ;margin-top: 2%">
    <div class="col-12 col-sm-12 col-md-6 col-xl-5">
      <div class="col-12 col-sm-12 col-md-12 col-xl-11" style="margin-bottom: 5%">
        <div>
          <h4 style="color: white;font-size: 21px;font-family: 'Hachi Maru Pop', cursive;">Education</h4>
        </div>

        <div class="col-12 mt-2" style="background: #464747;border-radius: 7px;padding: 30px">
          <div>
            <h4 style="color: white;font-size: 12px;font-family: 'East Sea Dokdo', cursive;"> March 2013 - Present</h4>
          </div>
          <h4 style="color: #9ca832;font-size: 18px;font-family: 'Open Sans', sans-serif;">Masteral in Information
            Technology</h4>
          <div class="mt-2">
            <h4 style="font-size: 15px;color: #7d7c7c;font-family: 'Open Sans', sans-serif">Even the all-powerful
              Pointing has no control about the blind texts it is an almost unorthographic.</h4>
          </div>
          <div class="mt-4">
            <h4 style="color: #787777;font-size: 14px;font-family: 'Open Sans', sans-serif;">New York University</h4>
          </div>
          <br/>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-xl-11" style="margin-bottom: 5%">

        <div class="col-12 mt-2" style="background: #464747;border-radius: 7px;padding: 30px">
          <div>
            <h4 style="color: white;font-size: 12px;font-family: 'East Sea Dokdo', cursive;"> March 2013 - present</h4>
          </div>
          <h4 style="color: #9ca832;font-size: 18px;font-family: 'Open Sans', sans-serif;">Masteral in Information
            Technology</h4>
          <div class="mt-2">
            <h4 style="font-size: 15px;color: #7d7c7c;font-family: 'Open Sans', sans-serif">Even the all-powerful
              Pointing has no control about the blind texts it is an almost unorthographic.</h4>
          </div>
          <div class="mt-4">
            <h4 style="color: #787777;font-size: 14px;font-family: 'Open Sans', sans-serif;">New York University</h4>
          </div>
          <br/>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-xl-5" style="">
      <div class="col-12 col-sm-12 col-md-12 col-xl-11" style="margin-bottom: 5%">
        <div>
          <h4 style="color: white;font-size: 21px;font-family: 'Hachi Maru Pop', cursive;">Experience</h4>
        </div>

        <div class="col-12 mt-2" style="background: #464747;border-radius: 7px;padding: 30px">
          <div>
            <h4 style="color: white;font-size: 12px;font-family: 'East Sea Dokdo', cursive;"> March 2013 - Present</h4>
          </div>
          <h4 style="color: #9ca832;font-size: 18px;font-family: 'Open Sans', sans-serif;">Masteral in Information
            Technology</h4>
          <div class="mt-2">
            <h4 style="font-size: 15px;color: #7d7c7c;font-family: 'Open Sans', sans-serif">Even the all-powerful
              Pointing has no control about the blind texts it is an almost unorthographic.</h4>
          </div>
          <div class="mt-4">
            <h4 style="color: #787777;font-size: 14px;font-family: 'Open Sans', sans-serif;">New York University</h4>
          </div>
          <br/>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-xl-11" style="margin-bottom: 5%">

        <div class="col-12 mt-2" style="background: #464747;border-radius: 7px;padding: 30px">
          <div>
            <h4 style="color: white;font-size: 12px;font-family: 'East Sea Dokdo', cursive"> March 2013 - present</h4>
          </div>
          <h4 style="color: #9ca832;font-size: 18px;font-family: 'Open Sans', sans-serif;">Masteral in Information
            Technology</h4>
          <div class="mt-2">
            <h4 style="font-size: 15px;color: #7d7c7c;font-family: 'Open Sans', sans-serif">Even the all-powerful
              Pointing has no control about the blind texts it is an almost unorthographic.</h4>
          </div>
          <div class="mt-4">
            <h4 style="color: #787777;font-size: 14px;font-family: 'Open Sans', sans-serif;">New York University</h4>
          </div>
          <br/>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row" style="background: #262626;margin-top: -1%">
  <div class="col-12 col-sm-12 col-md-6 col-xl-6"
       style="align-items: center;justify-content: center;display: flex;margin-top: 5%">
    <div class="col-10">
      <div>
        <img style="width: 100%;border-radius: 10px" class="" src="../../../assets/img/IMG_20200804_172753.jpg">
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-xl-6">
    <div class="col-12 col-sm-12 col-md-8 col-xl-8" style="margin-top: 10%">
      <div style="align-items: center;display: flex">
        <h3 class="mt-5" style="font-size: 28px;color: white;;font-family: 'Open Sans', sans-serif">About</h3>
        <h2 class="mt-5 ml-2" style="font-size: 28px;font-weight: bold;margin-left: 1%;color: white">Me</h2>
      </div>
      <div class="mt-3">
        <h2 style="font-size: 20px;color: #7d7c7c;font-family: 'Open Sans', sans-serif">Separated they live in
          Bookmarksgrove right at the coast of the Semantics, a large language ocean.</h2>
      </div>

      <div class="mt-4">
        <h2 style="font-size: 17px;color: #7d7c7c;font-family: 'Open Sans', sans-serif">A small river named Duden flows
          by their place and supplies
          it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into
          your mouth.
        </h2>
      </div>

      <div class="mt-5" style="justify-content: space-around;display: flex">
        <button type="button" class="btnhire ">Hire Me</button>
        <button type="button" class="btnhire">Download CV</button>
      </div>
    </div>
  </div>

  <div>
    <div style="align-items: center;display: flex;justify-content: center">
      <h3 class="mt-5" style="font-size: 28px;color: white;;font-family: 'Open Sans', sans-serif">My</h3>
      <h2 class="mt-5 ml-2" style="font-size: 28px;font-weight: bold;margin-left: 1%;color: white">Skills</h2>
    </div>

    <div class="skills">
      <li>
        <h3>HTML5</h3>
        <span class="Zbar"><span class="html"></span></span>
      </li>
      <li>
        <h3>CSS</h3><span class="bar"><span class="css"></span></span>
      </li>
      <li>
        <h3>JAVA</h3><span class="bar"><span class="js"></span></span>
      </li>
      <li>
        <h3>MYSQL</h3><span class="bar"><span class="rn"></span></span>
      </li>
    </div>

  </div>

  <div>
    <div class="mb-3" style="align-items: center;display: flex;justify-content: center">
      <h3 class="mt-5" style="font-size: 28px;color: white;font-family: 'Open Sans', sans-serif">My</h3>
      <h2 class="mt-5 ml-2" style="font-size: 28px;font-weight: bold;margin-left: 1%;color: white">Services</h2>
    </div>

  </div>
  <div style="align-items: center;justify-content: center;display: flex">
    <div class="col-12 col-sm-12 col-md-12 col-xl-12 row" style="justify-content: space-around">
      <div class="col-12 col-sm-12 col-md-4 col-xl-3" style="background: #464747;border-radius: 10px">
        <div style="align-items: center;justify-content: center;display: flex;">
          <div
            style="align-items: center;justify-content: center;display: flex;background: #9ca832;border-radius: 100px;margin-top: 5%;width: 26%;height: 78px">
            <img style="" class="" src="../../../assets/icon/webdesign.png">
          </div>

        </div>
        <div class="mt-3 mb-2" style="align-items: center;justify-content: center;display: flex;">
          <h2 style="font-size: 22px ;font-family: 'Ubuntu', sans-serif;color: white">Web Design</h2>
        </div>
        <div style="align-items: center;justify-content: center;display: flex">
          <h4 style="font-size: 15px;font-family: 'Montserrat', sans-serif;color: #a1a1a1;;margin-bottom: 5%">
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
            live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </h4>
        </div>
        <div class="mt-3 mb-2" style="align-items: center;justify-content: center;display: flex">
          <h4 class="txtlearn">Learn More ></h4>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-xl-3" style="background: #464747;border-radius: 10px">
        <div style="align-items: center;justify-content: center;display: flex;">
          <div
            style="align-items: center;justify-content: center;display: flex;background: #9ca832;border-radius: 100px;margin-top: 5%;width: 26%;height: 78px">
            <img style="" class="" src="../../../assets/icon/mobiledev.png">
          </div>

        </div>
        <div class="mt-3 mb-2" style="align-items: center;justify-content: center;display: flex;">
          <h2 style="font-size: 22px ;font-family: 'Ubuntu', sans-serif;color: white">Mobile App Developing</h2>
        </div>
        <div style="align-items: center;justify-content: center;display: flex">
          <h4 style="font-size: 15px;font-family: 'Montserrat', sans-serif;color: #a1a1a1;;margin-bottom: 5%">
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
            live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </h4>
        </div>
        <div class="mt-3 mb-2" style="align-items: center;justify-content: center;display: flex">
          <h4 class="txtlearn">Learn More ></h4>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-xl-3" style="background: #464747;border-radius: 10px">
        <div style="align-items: center;justify-content: center;display: flex;">
          <div
            style="align-items: center;justify-content: center;display: flex;background: #9ca832;border-radius: 100px;margin-top: 5%;width: 26%;height: 78px">
            <img style="" class="" src="../../../assets/icon/ui-ux.png">
          </div>

        </div>
        <div class="mt-3 mb-2" style="align-items: center;justify-content: center;display: flex;">
          <h2 style="font-size: 22px ;font-family: 'Ubuntu', sans-serif;color: white">UI / UX Designer</h2>
        </div>
        <div style="align-items: center;justify-content: center;display: flex">
          <h4 style="font-size: 15px;font-family: 'Montserrat', sans-serif;color: #a1a1a1;;margin-bottom: 5%">
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
            live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </h4>
        </div>
        <div class="mt-3 mb-2" style="align-items: center;justify-content: center;display: flex">
          <h4 class="txtlearn">Learn More ></h4>
        </div>
      </div>

    </div>
  </div>

  <div>
    <div class="mb-3" style="align-items: center;display: flex;justify-content: center">
      <h3 class="mt-5" style="font-size: 28px;color: white;font-family: 'Open Sans', sans-serif">My</h3>
      <h2 class="mt-5 ml-2" style="font-size: 28px;font-weight: bold;margin-left: 1%;color: white">Work</h2>
    </div>
  </div>

  <div>
    <div class="mb-3" style="align-items: center;display: flex;justify-content: center">
      <h3 class="mt-5" style="font-size: 28px;color: white;font-family: 'Open Sans', sans-serif">Get</h3>
      <h2 class="mt-5 ml-2" style="font-size: 28px;font-weight: bold;margin-left: 1%;color: white">In Touch</h2>
    </div>
    <div class="row" style="justify-content: space-around">
      <div class="col-11 col-sm-11 col-md-5 col-xl-5">
        <div class="form-group">
          <input style="background: #464747;border: none;color: #9ca832" type="email" class="form-control px-3 py-4"
                 placeholder="Your Email">
        </div>
        <div class="form-group">
          <input style="background: #464747;border: none;color: #9ca832" type="email" class="form-control px-3 py-4"
                 placeholder="Your Name">
        </div>
        <div class="form-group">
          <input style="background: #464747;border: none;color: #9ca832" type="email" class="form-control px-3 py-4"
                 placeholder="Your Phone">
        </div>
        <div class="form-group">
          <textarea style="background: #464747;border: none;color: #9ca832" class="form-control px-3 py-4" cols="30"
                    rows="10" placeholder="Write a Message"></textarea>
        </div>
        <div class="form-group">
          <input style="border: 2px solid #9ca832;background: transparent;color: #9ca832" type="submit"
                 class="btn btn-primary  px-3 py-2" value="Send Message">
        </div>
      </div>
      <div class="col-11 col-sm-11 col-md-5 col-xl-5">
        <div class="mt-2">
          <h4 class="txtcontactdetails">E M A I L</h4>
          <h4 class="txtcontactdetails2">dilshanmadushanka981@gmail.com</h4>
        </div>
        <div class="mt-4">
          <h4 class="txtcontactdetails">P H O N E</h4>
          <h4 class="txtcontactdetails2">+94 76 962 2981</h4>
        </div>
        <div class="mt-4">
          <h4 class="txtcontactdetails">A D D R E S S</h4>
          <h4 class="txtcontactdetails2">Shantha Sevana, Magura, Baduraliya.</h4>
        </div>
      </div>
    </div>
  </div>

</div>
