<!--<ngx-spinner bdColor = "rgba(31,28,28,0.85)" size = "medium" color = "#9ca832" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Please Wait... </p></ngx-spinner>-->
<!--<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "chartreuse" type = "ball-clip-rotate-pulse" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>-->
<!--<app-home></app-home>-->

<!--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<app-assignment></app-assignment>
